.HighResolutionGames {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.HighResolution {
	flex-basis: calc(25% - 10px);
	height: 212px;
	box-shadow: 10px 10px 10px -10px var(--black);
	overflow: hidden;
	position: relative;
	border-radius: 10px;
	border: 1px solid var(--black);
}

.HighResolution a img {
	height: 95px;
	width: 100%;
	object-fit: contain;
	padding: 10px;
}

.HighResolution:hover {
	transform: scale(1.01);
	cursor: pointer;
	box-shadow: 4px 5px 5px -4px var(--main);
}

a .Content {
	position: absolute;
	padding: 20px;
	width: 100%;
	height: 200px;
	background: var(--mainColor);
}

.HighResolution:hover a .Content {
	bottom: 0px;
}

a .Content div {
	display: flex;
	justify-content: space-between;
	margin-block: 5px;
}

a .Content h6 {
	font-weight: 800;
	font-size: 14px;
	color: var(--text);
}

a .Content div p {
	font-weight: 800;
	font-size: 12px;
	color: var(--text);
}

/* To Make It Responsive */

@media(max-width:1200px) {

	.HighResolution {
			flex-basis: calc(33.33% - 10px);
	}

}

@media(max-width:900px) {

	.HighResolution {
			flex-basis: calc(50% - 10px);
	}

}

@media(max-width:600px) {

	.HighResolution {
			flex-basis: calc(100%);
	}

}