/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --main: hwb(0 92% 8%);
  --boxShadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  --white: #FFF;
  --black: #333;
  --mainColor: #224E87;
	--text: var(--white);
	--goli-apple-cider: #d22730;
	--goli-ashwa-gummies: #00A9DF;
	--goli-superfruits-beauty: #F86832;
	--goli-supergreens: #2A954F;
	--goli-triple-action-immune: #FC5E28;
	--goli-dreamy-sleep: #593079;
	--goli-Womens-complete-multi: #E61B74;
	--goli-extra-strength-sleep: #511B76;
	--goli-pre-post-probiotics: #20A982;
	--goli-beets-cardio: #8E2649;
	--goli-matcha-mind: #197F78;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.1s ease-in;
  border: none;
  outline: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

*::selection {
  background: var(--main);
}

body {
  background: var(--white);
  color: var(--black);
}

/* For Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--main);
}

::-webkit-scrollbar-track {
  background: var(--mainColor);
}