.container {
	border-bottom: 5px solid #ffffff;
}
.header {
	font-weight: 700;
	font-size: 18px;
	color: gold;
	margin-top: 10px;
}

.bannerImage {
	max-height: 400px;
	overflow: hidden;
}
.bannerImage img {
 width: 100%;
}

.Affiliate {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	margin-block: 20px;
}

.Affiliate div {
	width: 50%;
	overflow: hidden;
}

.Affiliate div img {
	width: 100%;
	background-color: #fff;
	box-shadow: 10px 10px 10px -10px var(--main);
}

.Affiliate div h6 {
	font-weight: 700;
	font-size: 18px;
	color: gold;
	margin-top: 10px;
}

.Affiliate div h5 {
	font-size: 50px;
	margin-block: 10px;
	font-weight: 800;
}

.Affiliate div p {
	font-size: 13px;
}

.CustomContent {
	display: flex;
	flex-wrap: wrap;
	margin-top: 10px;
}

.CustomContent div {
	flex-basis: calc(50% - 10px);
	border: 0.1px dashed #ccc;
	padding: 20px;
	text-align: center;
}

.CustomContent div h6 {
	font-weight: 900;
	font-size: 30px;
	margin-bottom: 3px;
}

.BtnElementTop {
	display: none;
}

.BtnElement {
	display: flex;
  justify-content: flex-start;
   align-items: center;
}
.BtnElement .Btn, .BtnElementTop .BtnTop {
	position: relative;
	color: #ffffff;
	font-size: 0.9em;
	font-weight: 700;
	padding: 8px 16px;
	border-radius: 50px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.1em;
	background-color: #4AB2F5;
	transition: 0.1s;
	display: block;
	width: 50%;
	text-align: center;
}
.BtnElement .Btn:hover, .BtnElementTop .BtnTop:hover {
	color: var(--main);
	text-shadow: 0 0 15px var(--main),
	0 0 40px var(--main);
}


@media(max-width:1600px) {
	.Affiliate div h6 {
			font-weight: 700;
			font-size: 15px;
			color: gold;
			margin-top: 10px;
	}

	.Affiliate div h5 {
			margin-block: 10px;
			font-size: 40px;
			font-weight: 800;
	}
}

@media(max-width:1200px) {
	.Affiliate div h6 {
			font-weight: 700;
			font-size: 13px;
			color: gold;
			margin-top: 10px;
	}

	.Affiliate div h5 {
			margin-block: 10px;
			font-size: 30px;
			font-weight: 800;
	}
}

@media(max-width:1000px) {
	.Affiliate {
			display: flex;
			flex-direction: column;
	}

	.Affiliate div {
			width: 100%;
			padding: 10px;
	}

	.Affiliate div h6 {
			font-weight: 700;
			font-size: 13px;
			color: gold;
			margin-top: 10px;
	}

	.Affiliate div h5 {
			margin-block: 10px;
			font-size: 30px;
			font-weight: 800;
	}

	.CustomContent div {
		flex-basis: unset;
		border: 0.1px dashed #ccc;
		padding: 20px;
		text-align: center;
	}
	.BtnElementTop {
		display: block;
		padding: 0 10px!important;
	}

	.BtnElement .Btn, .BtnElementTop .BtnTop {
		width: 100%;
	}
}

@media(max-width:450px) {
	.Affiliate div h5 {
			margin-block: 10px;
			font-size: 20px;
			font-weight: 800;
	}
}